<h1>{{title}}</h1> 
<div [style.color]="anyColor">
    Hello {{name}}
</div>
<input type="text" [value]="name" (blur)="name = $event.target.value">
<!--I needed to update the app.module.ts to import @angular/forms (http://stackoverflow.com/questions/31623879/angular-2-two-way-binding-using-ng-model-is-not-working)-->
<input type="text" [(ngModel)]="name">
<button (click)="changeColor()">Change color</button>

<br />

<app-customers></app-customers>

<p>test Clint</p>